/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'font-awesome';
@import 'variables';

@font-face {
  font-family: 'Roboto';
  src: $font-src-roboto;
}

html {
  background-color: $dark;
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  background-color: $dark;
  color: $light;
  height: calc(100% - #{$margin});
  margin: $margin / 2;
  position: relative;
  width: calc(100% - #{$margin});

  > div {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: $base-font-size;
    justify-content: center;
    position: absolute;
    text-align: center;

    @mixin color($number, $color) {
      &:nth-child(5n+#{$number}) {
        background-color: $color;
      }
    }

    @include color(1, $color-1);
    @include color(2, $color-2);
    @include color(3, $color-3);
    @include color(4, $color-4);
    @include color(5, $color-5);
    @include color(6, $color-6);
    @include color(7, $color-7);
    @include color(8, $color-8);
    @include color(9, $color-9);
    @include color(10, $color-10);
    @include color(11, $color-11);
    @include color(12, $color-12);
  }
}

.width-1 {
  width: calc(25% - #{$margin});
}

.width-2 {
  width: calc(50% - #{$margin});
}

.width-3 {
  width: calc(75% - #{$margin});
}

.width-4 {
  width: calc(100% - #{$margin});
}

.height-1 {
  height: calc(33.3333% - #{$margin});
}

.height-2 {
  height: calc(66.6666% - #{$margin});
}

.height-3 {
  height: calc(100% - #{$margin});
}

.pos-x-1 {
  left: $margin / 2;
}

.pos-x-2 {
  left: calc(25% + #{$margin / 2});
}

.pos-x-3 {
  left: calc(50% + #{$margin / 2});
}

.pos-x-4 {
  left: calc(75% + #{$margin / 2});
}

.pos-y-1 {
  top: $margin / 2;
}

.pos-y-2 {
  top: calc(33.3333% + #{$margin / 2});
}

.pos-y-3 {
  top: calc(66.6666% + #{$margin / 2});
}

@import 'dashboard';
